@mixin box-color ($color){
    box-shadow:1px 1px 8px #d6d6d6;
    background-color:$color;
}
@mixin font-menu ($font-family){
    font-family:$font-family;
    font-size:2rem;
}
@mixin color-gradient ($color-start, $color-end){
    font-size:$font-size-menutitle;
    background: -webkit-linear-gradient(right, $color-start,$color-end);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin menu-zoom-anim {
    transform:scale(1);
    transition: transform 400ms; 
        &:hover {
            transform: scale(1.15);
        }
}
