@mixin box-color ($color){
    box-shadow:1px 1px 8px #d6d6d6;
    background-color:$color;
}
@mixin font-menu ($font-family, $size){
    font-family:$font-family;
    font-size:$size;
}
@mixin color-gradient ($color-start, $color-end){
    font-size:$font-size-menutitle;
    background: -webkit-linear-gradient(right, $color-start,$color-end);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin menu-zoom-anim {
    transform:scale(1);
    transition: transform 400ms; 
        &:hover {
            transform: scale(1.15);
        }
}

@mixin size-menu-line ($height, $width){
    height:$height;
    width:$width;
    display:inline-block;
}

@mixin underline-title($color){
    &::after{
        content:"";
        transform-origin: 0 0;
        transform:scaleX(0);
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        height:0.4em;
        background:$color;
        z-index:-1;
        opacity:0.8;
        transition: transform 500ms;
    }
    &:hover::after{
        transform:scaleX(1);
    }
}
@mixin font-mlegal($color, $size){
    font-family:$font-mlegal;
    color:$color;
    font-size:$size;
}