$primary-color:#569c87;
$secondary-color:#fcca46;
$menu1-color:#fcdfdb;
$menu2-color:#fff5fe;
$menu3-color:#f9f9f9;
$menu4-color:#fdfffd;
$font-menu1-title:'Ma Shan Zheng', cursive;
$font-menu1-menu:'Caveat', cursive;
$font-menu2-title:'Lobster Two';
$font-menu2-menu:'Vidaloka';
$font-menu3-title:'Parisienne';
$font-menu3-menu:'Kalam', cursive;
$font-menu4-title:'Caveat', cursive;
$font-menu4-menu: 'Kalam', cursive;
