body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
a{
    text-decoration:none;
}
header{
    h1{
        color:$secondary-color;
        font-family:'Montserrat', 'Lucida Sans', 'Lucida Sans Regular',Verdana, sans-serif;
        font-weight:bold;
        font-size:2.5rem;
    }
}
.link_menu1{
    color:$font-color-menu1;
    .menu1_icone{
        @include color-gradient ($font-color-icone-start, $font-color-icone-end);
    }
    .menu1_menutitle{
    @include font-menu ($font-menu1-title);
    font-size:$font-size-menutitle;
    }
    .menu1_menuword{
    @include font-menu ($font-menu1-menu);
    font-size:$font-size-menuword;
    }
}
.link_menu2{ 
    .menu2_menutitle{
        @include font-menu ($font-menu2-title);
        @include color-gradient ($font-color-menu2, $font-colortrans-menu2);
    } 
    .menu2_menuword{
    color:$font-color-menu2;
    @include font-menu ($font-menu2-menu);
    font-size:$font-size-menuword;
    }
}
.link_menu3{ 
    .menu3_menutitle{
        @include font-menu ($font-menu3-title);
        @include color-gradient ($font-color-menu3, $font-colortrans-menu3);
    }
    .menu3_menuword{
        @include font-menu ($font-menu3-menu);
        color:$font-color-menu3;
        font-size:$font-size-menuword;
    }
}
.link_menu4{ 
.menu4_menutitle{
    @include font-menu ($font-menu4-title);
    @include color-gradient ($font-color-menu4, $font-colortrans-menu4);
}
.menu4_menuword{
    @include font-menu ($font-menu4-menu);
    color:$font-color-menu4;
    font-size:$font-size-menuword;
}
}
.main_soon{
    font-family:'Montserrat', 'Lucida Sans', 'Lucida Sans Regular',Verdana, sans-serif;
        color:$secondary-color;
        font-size:2rem;
}
footer{
    a{
        text-decoration:none;
        font-family:'Montserrat', 'Lucida Sans', 'Lucida Sans Regular',Verdana, sans-serif;
        color:$secondary-color;
        font-size:1.3rem;
    }
}
